/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/footerWebinar/footerWebinar.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  background-color: #000821;
  min-height: 5em;
  display: flex;
  justify-content: flex-end;
  padding: 0 4em;
  align-items: center;
}

.footer__credits {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    padding: 0 1 em;
  }

  .footer__credits {
    font-size: 0.8rem;
    padding: 1em;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/gracias-registro/gracias-registro.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.gracias {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.gracias__header {
  background: linear-gradient(
    56deg,
    rgba(0, 8, 33, 1) 0%,
    rgba(7, 26, 85, 1) 50%
  );
  padding: 3%;
}

.gracias__title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #ffe3bc;
}

.gracias__title_accent {
  font-weight: 700;
  color: #e17900;
}

.gracias__subtitle {
  font-size: 1.3rem;
  text-align: center;
}

.gracias__subtitle_accent {
  font-weight: 700;
}

.gracias__body {
  background-image: url(/_next/static/media/fondo.a5ea311c.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 5% 3%;
  display: flex;
  justify-content: center;
  z-index: -2;
  position: relative;
}

.gracias__recordatorio-text {
  color: #ffe3bc;
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.gracias__recordatorio-text_lg {
  font-weight: 600;
  font-size: 1.7rem;
}

.gracias__container {
  position: relative;
  width: 60%;
  padding: 1%;
}

.gracias__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000821;
  z-index: -1;
  border-radius: 5px;
  mix-blend-mode: soft-light;
}

.gracias__btn-container {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gracias__btn {
  background-color: #e17900;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  border-radius: 0.5em;
  color: #ffe3bc;
  margin: 1rem 0 2rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.gracias__recordatorio-text_dates {
  color: #4c73f1;
  font-size: 1.5rem;
}

