/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/loader/loader.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 20px 20px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 31.5px;
  left: 31.5px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 34px;
  left: 28px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 35.5px;
  left: 24px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 36px;
  left: 20px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 35.5px;
  left: 16px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 34px;
  left: 12px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 31.5px;
  left: 8.5px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 28px;
  left: 6px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/admin/components/email/email.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
textarea {
  height: 400px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.email__form-label {
  font-size: 2rem;
}

.email__element {
  width: 90%;
  background-color: #000821;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.email__label {
  font-size: 1.5rem;
  margin: 0.5em;
}

.email__input {
  margin-bottom: 2em;
  width: 80%;
  min-height: 2em;
  background-color: #ccc7e1;
}

.email__btn {
  background-color: #e17900;
  padding: 0.5em 2em;
  font-size: 1.3rem;
  border-radius: 0.5em;
  color: #ffe3bc;
  box-shadow: #ffe3bc 1px 1px, #ffe3bc -1px -1px, #ffe3bc 1px -1px,
    #ffe3bc -1px 1px;
  cursor: pointer;
  margin: 2em 0;
  z-index: 1;
  width: 40%;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/admin/components/numbers/numbers.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.numbers {
  display: flex;
  flex-direction: column;
}

.numbers__element {
  display: flex;
  box-shadow: 1px 1px 2px gray;
  width: 120px;
}

.numbers__label {
  margin: 0.5em;
  font-size: 1em;
}

.numbers__number {
  margin: 0.5em;
  font-size: 1em;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/admin/components/btnLogout/btnLogout.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.btn-logout {
  padding: 0.5em 2em;
  font-size: 1.3rem;
  border-radius: 0.5em;
  color: #000821;
  box-shadow: #000821 1px 1px, #000821 -1px -1px, #000821 1px -1px,
    #000821 -1px 1px;
  cursor: pointer;
  margin: 2em 0;
  z-index: 1;
  width: 40%;
  background-color: #ffe3bc;
  align-self: center;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/admin/admin.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.admin {
  background-color: #071a55;
  display: flex;
  flex-direction: column;
  padding: 2%;
}


